---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca de">
    <h1 class="text-blue-500 text-5xl" >ABOUT</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias ducimus, laboriosam voluptas vero numquam ex asperiores minus rerum at error, repudiandae earum soluta molestiae possimus dicta voluptate vel, consectetur doloremque!</p>
</Layout>